* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fffaf3;
    color: #4e342e;
}

.explore {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #3e2723;
    color: white;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-content {
    padding: 30px 40px;
    flex-grow: 1;
}

.filters {
  background-color: #f5f0e1;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin: 30px auto;
  width: 75%;
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.filters h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #3e2723;
  text-align: center;
}

.filters label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
}

.filters select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
}

.search-btn {
    margin-top: 18px;
    background-color: #6d4c41;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #5d4037;
}

.cafes h2 {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cafe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    gap: 24px;
}

.cafe-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
    cursor: pointer;
}

.cafe-card h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.cafe-card:hover {
    transform: translateY(-5px);
}

.status-msg {
    margin-top: 20px;
    font-size: 16px;
}

.status-msg.error {
    color: red;
}

.footer {
    background-color: #3e2723;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 14px;
    margin-top: auto;
}